@import "partials/body";
@import "partials/noted-form";
@import "partials/noted-archive";
@import "partials/noted-controls";


@bg-color: #050718;
@text-color: #fff;
@primary-color: rgb(120, 190, 32);

@breakpoint: 600px;