@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,900');

body {
    background: @bg-color;
    color: @text-color;;

    margin: 0;
    padding: 0;
    line-height: 1.4;
    padding-top: @noted_controls_height;

    font-family: 'Yantramanav', 'Arial', sans-serif;
}

.noted_brand_heading {
    color: @text-color;
    line-height: @noted_controls_height;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 0;
    margin: 1px 20px -1px 20px;
    display: inline-block;
}

::-webkit-scrollbar {
width:  8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
    background: fade(@primary-color, 30%);
    &:hover {
        background: fade(@primary-color, 70%);
    }
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: @bg-color;
}