.noted_form {
    width: 100%;
    height: 33%; // 50%;
    margin: 0;

    @media (min-width: @breakpoint) {
        float: right;
        width: ~"calc(100% - @{archive-width})";
        height: 100%;
    }
}
.noted_form-textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: transparent;
    color: @text-color;
    border: 0;
    outline: 0;
    &:focus {
        outline: 0;
    }

    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-weight: 700;
    font-weight: 900;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: -0.01em;

    @media (min-width: @breakpoint) {
        font-size: 8vw;
        padding: 1% 4%;
    }
}