@noted_controls_height: 50px;

.noted_header {
    height: @noted_controls_height;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: @primary-color;
    overflow: hidden;
}

.noted_controls {
    float: right;
    margin: 0 20px;
    height: 100%;
    > button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        background: @bg-color;
        color: @text-color;
        font-weight: 900;
        border: 0;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 13px;
        padding: 4px 7px;
        margin: 0 5px;
        letter-spacing: 0.04em;
        &:hover, &:focus, &:active {
            background: @text-color;
            color: @bg-color;
        }
    }
}
.noted_controls-new_note {

}
.noted_controls-delete_note {

}