@archive-width: 300px;

.noted_archive {
    margin: 0;
    padding: 0;
    height: 66%; // 50%;
    overflow-y: scroll;

    @media (min-width: @breakpoint) {
        float: left;
        width: @archive-width;
        height: 100%;
    }

}
.noted_archive-item {
    font-weight: 300;
    font-size: 18px;
    list-style: none;
    border-bottom: 1px solid fade(#fff, 13%);
    margin: 0;
    padding: 10px;
    cursor: pointer;
    &:hover {
        @hoverbg: lighten(@bg-color, 3%);
        background: @hoverbg;
        a[data-readmore-toggle] {
            background: linear-gradient(to bottom, fade(@hoverbg, 0%), @hoverbg, @hoverbg);
        }
    }
    .noted_archive-content {
        white-space: pre-wrap;
        overflow: hidden;
        max-height: 100px; // will be used as collapsedHeight property by readmore.js plugin
    }
    time {
        display: block;
        font-size: 66%;
        color: fade(@text-color, 50%);
    }
    a {
        color: fade(@primary-color, 66%);
    }
    a[data-readmore-toggle] {
        background: linear-gradient(to bottom, fade(@bg-color, 0%), @bg-color, @bg-color);
        background-position: -10px 0px;
        display: inline-block;
        width: 100%;
        padding-top: 25px;
        margin-top: -30px;
        margin-bottom: 10px;
        font-size: 80%;
    }
}
.noted_archive-item--active {
    color: @primary-color;
}